[submodule "services/auth"]
	path = services/auth
	url = https://github.com/jamoliddin05/auth-service
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/jamoliddin05/frontend-service
[submodule "services/products"]
	path = services/products
	url = https://github.com/jamoliddin05/products-service-new
